= simple_nested_form_for(@library) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, :label => 'Library Name'

    = render 'books/nested_form', :f => f

  .form-actions
    = f.button :submit
