= field_set_tag 'Chapters' do
  = f.simple_fields_for :chapters do |chapter_form|
    = chapter_form.input :title, :label => 'Chapter Title'
    = chapter_form.link_to_remove "Remove"

  = f.link_to_add "Add Chapter", :chapters, :class => 'btn btn-small'
