!!!
%html
  %head
    %title DecoratorBreaksLinkToAdd
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %div
      = link_to 'Libraries', libraries_path
      = link_to 'Books', books_path
      = link_to 'Chapters', chapters_path
      = link_to 'Free Formats', free_formats_path

    = yield
